@model IEnumerable<ToDontList.Models.Item>

<html>
<head>
    <title>To Dont List</title>
</head>
<body>
    <h2>To Dont List</h2>
    <p>@Html.ActionLink("Task list", "Index", "Items")</p>
</body>
</html>